# This caddyfile acts as a reverse proxy with basicauth
# for the production prisma studio service

{
  debug
  admin off
}

# Note: the urls use `http` not `https` because Render adds `https` at a higher layer

http://${RENDER_EXTERNAL_HOSTNAME},
http://prisma.hikerherd.com {
  reverse_proxy 0.0.0.0:5555
  log
  basicauth {
    {$STUDIO_USERNAME} {$STUDIO_PASSWORD_HASH}
  }
}
