# This file defines the deployment infrastructure for http://render.com

# This gives us a Postgresql database
databases:
  - name: hikerherd_db
    databaseName: hikerherd
    plan: standard

services:
  # This is our main web service, which runs the app itself
  - type: web
    name: hikerherd_web
    env: node
    plan: starter plus
    buildCommand: yarn --frozen-lockfile --prod=false && yarn build && yarn migrate
    startCommand: yarn start
    envVars:
      - key: NODE_ENV
        value: production

      - key: DATABASE_URL
        fromDatabase:
          name: hikerherd_db
          property: connectionString

      - key: SESSION_SECRET_KEY
        generateValue: true

      - key: BLITZ_PUBLIC_APP_ORIGIN
        value: https://www.hikerherd.com

      - key: POSTMARK_API_TOKEN
        sync: false # (Keep secrets out of version control)

  # This is a prisma studio service for production admin features
  - type: web
    name: prisma_studio
    env: node
    plan: starter
    buildCommand: yarn --frozen-lockfile && npm rebuild caddy-npm
    startCommand: pm2 start "prisma studio" && caddy run

    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: hikerherd_db
          property: connectionString

      - key: STUDIO_USERNAME
        value: hikerherd_admin

      - key: STUDIO_PASSWORD_HASH
        sync: false # (Keep secrets out of version control)
