# This file defines the deployment infrastructure for http://render.com

# This gives us a Postgresql database
databases:
  - name: hikerherd_db
    databaseName: hikerherd
    plan: standard

services:
  # This is our main web service, which runs the app itself
  - type: web
    name: hikerherd_web
    env: node
    plan: starter
    buildCommand: yarn --frozen-lockfile --prod=false && yarn build && yarn migrate
    startCommand: yarn start
    envVars:
      - key: NODE_ENV
        value: production

      - key: DATABASE_URL
        fromDatabase:
          name: hikerherd_db
          property: connectionString

      - key: SESSION_SECRET_KEY
        generateValue: true

      - key: BLITZ_PUBLIC_APP_ORIGIN
        value: https://www.hikerherd.com

      - key: POSTMARK_API_TOKEN
        sync: false # (Keep secrets out of version control)

      - key: CLOUDINARY_API_KEY
        sync: false # (Keep secrets out of version control)

      - key: CLOUDINARY_API_SECRET
        sync: false # (Keep secrets out of version control)

      - key: BLITZ_PUBLIC_CLOUDINARY_CLOUD_NAME
        value: hikerherd

      - key: BLITZ_PUBLIC_SUPPORT_LINK
        value: https://ko-fi.com/benontrail

      - key: BLITZ_PUBLIC_CONTACT_LINK
        value: https://blog.hikerherd.com/contact

      - key: BLITZ_PUBLIC_NEWSLETTER_LINK
        value: https://blog.hikerherd.com
