html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #edf2f7;
}

#__next {
  flex: 1;
}

body.chakra-ui-light {
  background: #edf2f7;
}

body.chakra-ui-dark {
  background: #242c3a;
}

body.is-fixed {
  overflow: hidden;
}
